<h1>Post Edit</h1>
<h2>You may edit as you please;</h2>
<%= current_user.id %>
<form action="/users/<%= current_user.id %>/posts/<%= @post.id %>" method="POST">
  <input type="hidden" name="_method" value="put">
    <textarea name="content"><%= @post.content %></textarea>
  <input type="submit" value="Complete Edit">
</form>

<form action="/users/<%= current_user.id %>/posts/<%= @post.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Post">
</form>
