<h1><%= @user.name %></h1>
<h2><%= @post.created_at.strftime("%d %B %Y") %></h2>
<p><%= @post.content%></p>

<% @post.tags.each do |tag|%>
  #<%= tag.content %> 
<% end %>

<% if current_user.id == @user.id %>
  <a href="/users/<%= @user.id %>/posts/<%= @post.id %>/edit">
  Edit
  </a>
<% end %>
